<div class="body_wrapper">
<div class="body_inner">
  <div class="body_content">
    <div class="cloud_container">
      <div class="app_sdk_image"> 
        <%= image_tag("rails.png", :alt => "Ruby on Rails")%>
      </div>
      <div class="app_sdk_image_th">
        <h1>Welcome to App42 PaaS</h1>
      </div>
      <div class="massage_text_app">(You have successfully deployed your first Ruby Application)</div>
      <div class="cloud_button_paas"> 
        <%= link_to image_tag("app-page_gt.png"), 'http://paas.shephertz.com/dev-center/getting-started' %>
        <%= link_to image_tag("app-page_console.png"), 'http://console.app42paas.com/login/loginWithCRM' %>
      </div>
    </div>
  </div>
</div>
<div class="powered_by_wrapper">
  <div class="powered_by_inner">
    <div class="powered_by_content">
    <table>
    <tbody>
    <tr>
      <td style="font-size:25px;"><b> Powered by :</b></td>
      <td style="margin-right:30px;">
        <%= image_tag("app_pass_logo.png", :alt => "app42paas")%>
      </td>
     </tr>
     </tbody>
     </table>
    </div>
  </div>
</div>